.container {
  position: absolute;
  top: 80px;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  margin-top: 13px;
  width: 111px;
  height: 111px;
}

span {
  margin-left: 20px;
  width: 186px;
  font-size: 24px;
  font-weight: 700;
  color: #828282;
}

@media screen and (max-width: 565px) {
  .container {
    display: none;
  }
}
