.header {
  background-color: #e5e5e5;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1153px;
  min-height: 80px;
  overflow: hidden;
}

@media screen and (max-width: 565px) {
  .header {
    display: none;
  }
}
