<div class="container">
  <img src="assets/logo.png" class="logo" alt="YouTube Client logo" (click)="goMain()" />
  <div>
    <input #searchField class="search-field" placeholder="What do you want to find out?" />
    <button class="btn search-btn" matRipple (click)="getItems(searchField.value)">search</button>
  </div>
  <button class="btn search-settings" [class.disabled]="!itemsLength" matRipple (click)="toggleSettings()"></button>
</div>
@if (settings && itemsLength) {
  <div class="sort">
    <span>Sort by:</span>
    <button class="sort-by-btn" [class.active]="sort === 'date'" (click)="sortByDate()">date</button>
    <button class="sort-by-btn" [class.active]="sort === 'views'" (click)="sortByViews()">views</button>
    <div>
      <button class="sort-by-btn" [class.active]="sort === 'words'" (click)="sortByWords()">words</button>
      <input #sortInput (focus)="sortByWords()" />
    </div>
  </div>
}
