<div class="container">
  <div class="preview"></div>
  <div class="statistics">
    <div class="stat-point">
      <img src="assets/views.svg" alt="Views" />
      <span>{{ 1000 }}</span>
    </div>
    <div class="stat-point">
      <img src="assets/likes.svg" alt="Likes" />
      <span>{{ 680 }}</span>
    </div>
    <div class="stat-point">
      <img src="assets/dislikes.svg" alt="Dislikes" />
      <span>{{ 320 }}</span>
    </div>
    <div class="stat-point">
      <img src="assets/comments.svg" alt="Comments" />
      <span>{{ 250 }}</span>
    </div>
  </div>
  <h2>Just for You #{{ itemNumber }}</h2>
  <button class="more-btn" matRipple>more...</button>
  <div class="age"></div>
</div>
